# Imports

In [383]:
import numpy as np 
import pandas as pd

# Object Creation

In [384]:
pd.Series([1,2,3,4,5,6, np.nan, 50, 80, 90])

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7    50.0
8    80.0
9    90.0
dtype: float64

In [385]:
dates =  pd.date_range(start="2019/1/1", end="2019/7/6", freq="1M")

In [386]:
pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

                   A         B         C         D
2019-01-31 -0.505934 -0.736095 -0.685417  1.045253
2019-02-28  0.289437 -0.630733  1.250413 -0.588111
2019-03-31 -0.572988  0.111587 -1.004651  0.143762
2019-04-30 -0.328253 -0.351063 -1.162567 -1.659587
2019-05-31  0.043649  0.925128  0.429027 -1.153304
2019-06-30  0.172202  0.622474 -0.183172 -2.377091

In [387]:
df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

# Viewing data

Here is how to view the top and bottom rows of the frame

In [388]:
df.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [389]:
df.tail(2)

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Display the index, columns

In [390]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [391]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [392]:
df.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

describe() shows a quick statistic summary of your data:

In [393]:
df.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

Transposing your data - df.transpose() or df.T

In [394]:
df.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

Sorting by an axis and by values

In [395]:
df.sort_index(axis=1, ascending=False)

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [396]:
df.sort_values(by="E")

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
3  1.0 2013-01-02  1.0  3  train  foo

# Selection
## Indexing and selecting data
## Different choices for indexing

1.    Object Type -------- Indexers
2.    Series ----------------- s.loc[indexer]
3.    DataFrame --------- df.loc[row_indexer, column_indexer]

In [397]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

In [398]:
s = df['A']
s

2000-01-01    0.921375
2000-01-02   -0.629279
2000-01-03    0.222917
2000-01-04    0.839365
2000-01-05    0.119128
2000-01-06   -0.295476
2000-01-07   -0.495787
2000-01-08    0.474026
Freq: D, Name: A, dtype: float64

In [399]:
s[dates[5]]

-0.29547581539039197

In [400]:
df[['B', 'A']]

                   B         A
2000-01-01 -0.429874  0.921375
2000-01-02 -0.718726 -0.629279
2000-01-03  1.447836  0.222917
2000-01-04  0.908998  0.839365
2000-01-05  2.370565  0.119128
2000-01-06  0.338037 -0.295476
2000-01-07  1.395955 -0.495787
2000-01-08 -0.065889  0.474026

 swap column values

In [401]:
df.loc[:, ['B', 'A']] = df[['A', 'B']].to_numpy()

In [402]:
df[['B', 'A']]

                   B         A
2000-01-01  0.921375 -0.429874
2000-01-02 -0.629279 -0.718726
2000-01-03  0.222917  1.447836
2000-01-04  0.839365  0.908998
2000-01-05  0.119128  2.370565
2000-01-06 -0.295476  0.338037
2000-01-07 -0.495787  1.395955
2000-01-08  0.474026 -0.065889

# create a new column

In [403]:
df["New_collumn"] = list(range(len(df.index)))

In [404]:
df

                   A         B         C         D  New_collumn
2000-01-01 -0.429874  0.921375 -0.933262 -1.861556            0
2000-01-02 -0.718726 -0.629279 -0.451613 -0.045396            1
2000-01-03  1.447836  0.222917 -1.096177 -0.399828            2
2000-01-04  0.908998  0.839365 -1.430796  1.210755            3
2000-01-05  2.370565  0.119128 -0.606666 -0.130292            4
2000-01-06  0.338037 -0.295476 -0.934813 -1.033733            5
2000-01-07  1.395955 -0.495787  0.602879  0.694515            6
2000-01-08 -0.065889  0.474026 -0.176873 -1.409476            7

In [405]:
df.New_collumn = list([x+2 for x in range(len(df.index))])

# Attribute access
You may access an index on a Series or column on a DataFrame directly as an attribute

In [406]:
sa = pd.Series([1, 2, 3], index=list('abc'))

sa.a

1

You can also assign a dict to a row of a DataFrame

In [407]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]}, index=list("abc"))

# Modify an existing element 
x.iloc[1] = {'x': 9, 'y': 99}

x

   x   y
a  1   3
b  9  99
c  3   5

In [408]:
df = pd.DataFrame({'one': [1., 2., 3.]})
# Modify an existing element 
df.one = [4, 5, 6]

# Slicing ranges - Faixas de fatiamento

In [409]:
df_slicing = pd.DataFrame({"Talismar": [1,2,3,4,5,6,7,8,9,10],"Tassio": [1,2,3,4,5,6,7,8,9,10]})

In [410]:
# inverted
df_slicing[::-1]

   Talismar  Tassio
9        10      10
8         9       9
7         8       8
6         7       7
5         6       6
4         5       5
3         4       4
2         3       3
1         2       2
0         1       1

In [411]:
# jumping - Pulando de dois em dois
df_slicing[::2]

   Talismar  Tassio
0         1       1
2         3       3
4         5       5
6         7       7
8         9       9

In [412]:
# Assignment

df_slicing[::2] = "new"
df_slicing

  Talismar Tassio
0      new    new
1        2      2
2      new    new
3        4      4
4      new    new
5        6      6
6      new    new
7        8      8
8      new    new
9       10     10

# Selection by label

In [413]:
dfl = pd.DataFrame(np.random.randn(5, 4),
                   columns=list('ABCD'),
                   index=pd.date_range('20130101', periods=5))
dfl.loc['20130102':'20130103']

                   A         B         C         D
2013-01-02  0.452109  0.263860 -1.186544 -0.885694
2013-01-03 -0.546001 -0.347722  1.574971  0.447033

In [414]:
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))

In [415]:
s1.loc['c':]

c    1.291025
d    0.897979
e    0.821611
f   -0.072448
dtype: float64

In [416]:
s1.loc['b']

1.0589245148767528

In [417]:
# we can use to assign also
s1.loc['c':] = 0

s1

a    0.054547
b    1.058925
c    0.000000
d    0.000000
e    0.000000
f    0.000000
dtype: float64

In [418]:
# With a DataFrame
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=["num1", "num2", "num3", "num4"])
df1.loc[['a', 'b', 'd'], :]

       num1      num2      num3      num4
a -0.901539  0.467106 -0.439469  0.268616
b -0.739722 -1.405759  0.195419 -1.505610
d -0.002124 -1.588322 -0.890079  1.268502

Accessing via label slices

In [419]:
df1.loc['d':, 'num1':'num2']

       num1      num2
d -0.002124 -1.588322
e  0.209531 -0.118912
f -0.692930 -0.257245

In [420]:
# For getting a cross section
df1.xs("a")

num1   -0.901539
num2    0.467106
num3   -0.439469
num4    0.268616
Name: a, dtype: float64

In [421]:
df1.loc['a'] > 0

num1    False
num2     True
num3    False
num4     True
Name: a, dtype: bool

In [422]:
# if any value in some column is greater it returns the entire column
df1.loc[:, df1.loc['a'] > 1]

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f]

In [423]:
mask = pd.array([True, False, True, False, pd.NA, False], dtype="boolean")
df1[mask]

       num1      num2      num3      num4
a -0.901539  0.467106 -0.439469  0.268616
c  1.929317 -0.102404 -0.632405  0.101838

For getting a value explicitly:

In [424]:
#df1.loc['a', 'num1']
# or 
df1.at['a', 'num1']

-0.9015385313523974

# Slicing with labels

In [425]:
s = pd.Series(list('abcde'), index=[0, 3, 2, 6, 5])

s.loc[3:5]

3    b
2    c
6    d
5    e
dtype: object

In [426]:
# Sort
s.sort_index()

0    a
2    c
3    b
5    e
6    d
dtype: object

In [427]:
s.sort_index().loc[1:6]

2    c
3    b
5    e
6    d
dtype: object

In [428]:
s.loc[3:5]

3    b
2    c
6    d
5    e
dtype: object

In [429]:
dfl = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))
dfl.iloc[:, 1:3]

          B
0  0.614465
1 -1.268362
2  0.472230
3 -0.218594
4  2.035633

In [430]:
dfl.iloc[4:6]

          A         B
4 -0.493013  2.035633

# Selection by callable - function

In [431]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

df1.loc[lambda df: df['A'] > 0, :]

          A         B         C         D
a  0.375887 -0.121798 -0.635632 -0.191806
b  1.798390  0.150961  0.692164 -2.088421
d  1.421969 -0.039395 -1.680574  0.534824
e  0.721349 -0.059111 -1.340487 -0.568929
f  0.666776 -1.625159 -0.859044 -0.804047

In [432]:
df1.loc[:, lambda df: ['A', 'B']]

          A         B
a  0.375887 -0.121798
b  1.798390  0.150961
c -0.109913  1.149048
d  1.421969 -0.039395
e  0.721349 -0.059111
f  0.666776 -1.625159

In [433]:
df1.iloc[:, lambda df: [0, 1]]

          A         B
a  0.375887 -0.121798
b  1.798390  0.150961
c -0.109913  1.149048
d  1.421969 -0.039395
e  0.721349 -0.059111
f  0.666776 -1.625159

In [434]:
df1[lambda df: df.columns[0]]

a    0.375887
b    1.798390
c   -0.109913
d    1.421969
e    0.721349
f    0.666776
Name: A, dtype: float64

In [435]:
df1['A'].loc[lambda s: s > 0]

a    0.375887
b    1.798390
d    1.421969
e    0.721349
f    0.666776
Name: A, dtype: float64

# Combining positional and label-based indexing

In [436]:
dfd = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6]},
                   index=list('abc'))

# If you wish to get the 0th and the 2nd elements from the index in the ‘A’ column, you can do
dfd.loc[dfd.index[[0, 2]], 'A']

a    1
c    3
Name: A, dtype: int64

In [437]:
dfd.iloc[[0, 2], dfd.columns.get_loc('A')]

a    1
c    3
Name: A, dtype: int64

In [438]:
# For getting multiple indexers, using .get_indexer
dfd.iloc[[0, 2], dfd.columns.get_indexer(['A', 'B'])]

   A  B
a  1  4
c  3  6

# Indexing with list with missing labels is deprecated

In [439]:
s = pd.Series([1, 2, 3])

In [440]:
s.reindex([1, 2, 3])

1    2.0
2    3.0
3    NaN
dtype: float64

In [441]:
# Alternatively, if you want to select only valid keys. the correct way is

labels = [1, 2, 3]

s.loc[s.index.intersection(labels)]

1    2
2    3
dtype: int64

# Selecting random samples

In [442]:
s = pd.Series([0, 1, 2, 3, 4, 5])

In [443]:
# When no arguments are passed, returns 1 row
s.sample()

3    3
dtype: int64

In [444]:
# One may specify either a number of rows
s.sample(n=3)

2    2
0    0
3    3
dtype: int64

In [445]:
# Or a fraction of the rows
s.sample(frac=0.5)

5    5
2    2
3    3
dtype: int64

In [446]:
# Without/with replacement (default False)
s.sample(n=6, replace=True)

4    4
2    2
5    5
0    0
2    2
1    1
dtype: int64

In [447]:
# sample also allows users to sample columns instead of rows using the axis argument.
df3 = pd.DataFrame({'col1': [1, 2, 3], 'col2': [2, 3, 4]})

df3.sample(n=1, axis=0)

   col1  col2
2     3     4

In [448]:
# With a given seed, the sample will always draw the same rows.
df3.sample(n=2, random_state=2)

   col1  col2
2     3     4
1     2     3

# Fast scalar value getting and setting

In [449]:
df = pd.DataFrame({"A": np.arange(5, 0, -1), "B": np.zeros(5)})

In [450]:
df.iat[2,0]

3

In [451]:
df.at[4, 'A']

1

In [452]:
df.at[4, 'A'] = 7

# Boolean indexing

In [453]:
s = pd.Series(range(-3, 4))

In [454]:
s[s > 0]

4    1
5    2
6    3
dtype: int64

In [455]:
s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [456]:
s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

List comprehensions and the map method of Series can also be used to produce more complex criteria

In [457]:
df2 = pd.DataFrame({'a': ['one', 'one', 'two', 'three', 'two', 'one', 'six'],
                    'b': ['x', 'y', 'y', 'x', 'y', 'x', 'x'],
                    'c': np.random.randn(7)})


# only want 'two' or 'three' - Map
criterion = df2['a'].map(lambda x: x.startswith('t'))

df2[criterion]

       a  b         c
2    two  y -1.979841
3  three  x -2.499474
4    two  y  1.928472

In [458]:
# equivalent but slower - List comprehensions
df2[[x.startswith('t') for x in df2['a']]]

       a  b         c
2    two  y -1.979841
3  three  x -2.499474
4    two  y  1.928472

In [459]:
# Multiple criteria
df2[criterion & (df2['b'] == 'x')]

       a  b         c
3  three  x -2.499474

In [460]:
df2.loc[criterion & (df2['b'] == 'x'), 'b':'c']

   b         c
3  x -2.499474

For slicing rows explicitly

In [461]:
df = pd.DataFrame({"A": range(0,5),"B": range(0,5), "C": range(0,5)})
df.iloc[1:3, :]

   A  B  C
1  1  1  1
2  2  2  2

For slicing columns explicitly

In [462]:
df.iloc[:, 1:3]

   B  C
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4

Using the isin() method for filtering

In [463]:
s = pd.Series(['lama', 'cow', 'lama', 'beetle', 'cow',
               'hippo'], name='animal')
s.isin(['cow', 'lama'])

0     True
1     True
2     True
3    False
4     True
5    False
Name: animal, dtype: bool

In [464]:
s[s.isin(["cow"])]

1    cow
4    cow
Name: animal, dtype: object

# Setting

In [465]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))

In [466]:
s1.iat[0] = 2

In [467]:
s1.at["2013-01-02"] = 60

# Missing data

In [468]:
df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": np.arange(4, dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
    ,index=list("0123")
)

df1 = df.reindex(index= list("0123"), columns=list(df.columns) + ["T"])
df1.loc[0 : 2, "T"] = 10
df1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:719: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  indexer = self._get_setitem_indexer(key)

     A          B    C  D      E    F     T
0  1.0 2013-01-02  0.0  3   test  foo  10.0
1  1.0 2013-01-02  1.0  3  train  foo  10.0
2  1.0 2013-01-02  2.0  3   test  foo   NaN
3  1.0 2013-01-02  3.0  3  train  foo   NaN

To drop any rows that have missing data

In [469]:
df1.dropna(how="any")

     A          B    C  D      E    F     T
0  1.0 2013-01-02  0.0  3   test  foo  10.0
1  1.0 2013-01-02  1.0  3  train  foo  10.0

Filling missing data

In [470]:
#df1["T"] = df1["T"].fillna(value=5)
df1

     A          B    C  D      E    F     T
0  1.0 2013-01-02  0.0  3   test  foo  10.0
1  1.0 2013-01-02  1.0  3  train  foo  10.0
2  1.0 2013-01-02  2.0  3   test  foo   NaN
3  1.0 2013-01-02  3.0  3  train  foo   NaN

To get the boolean mask where values are nan

In [471]:
pd.isna(df1)

       A      B      C      D      E      F      T
0  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False
2  False  False  False  False  False  False   True
3  False  False  False  False  False  False   True

# String Methods

In [477]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge
Concat

In [479]:
df = pd.DataFrame(np.random.randn(10, 4))

# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

In [483]:
pieces

[          0         1         2         3
 0  0.764340  1.314586 -0.271841 -0.378330
 1  1.456721 -0.608549  1.147756 -0.819706
 2 -0.404285  0.856075  0.341530 -0.283521,
           0         1         2         3
 3 -0.548337 -0.806483  0.800926  1.476013
 4  1.289220  0.153743 -0.049509 -1.353841
 5 -0.578433 -0.024790  0.241739  0.985664
 6  1.064090  0.378265 -1.430711  0.082054,
           0         1         2         3
 7  0.635905 -0.814218  1.399141  0.100771
 8  1.646948 -0.508096 -0.258970 -1.204460
 9 -0.710728 -0.241340 -0.965962 -0.030754]

In [484]:
pd.concat(pieces)

          0         1         2         3
0  0.764340  1.314586 -0.271841 -0.378330
1  1.456721 -0.608549  1.147756 -0.819706
2 -0.404285  0.856075  0.341530 -0.283521
3 -0.548337 -0.806483  0.800926  1.476013
4  1.289220  0.153743 -0.049509 -1.353841
5 -0.578433 -0.024790  0.241739  0.985664
6  1.064090  0.378265 -1.430711  0.082054
7  0.635905 -0.814218  1.399141  0.100771
8  1.646948 -0.508096 -0.258970 -1.204460
9 -0.710728 -0.241340 -0.965962 -0.030754

# Join

In [489]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [488]:
left = pd.DataFrame({"key": ["Talismar", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["Talismar", "foo"], "rval": [4, 5]})

pd.merge(left, right, on="key")

        key  lval  rval
0  Talismar     1     4
1       foo     2     5

# Grouping